.categories-grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(6, 1fr);
    gap: 1rem;
    grid-template-areas:
        "   item-1       item-1       item-1       item-2       item-2       item-2   "

        "   item-3       item-3       item-4       item-4       item-5       item-5   ";
}

.item-1 {
    grid-area: item-1;
}

.item-2 {
    grid-area: item-2;
}

.item-3 {
    grid-area: item-3;
}

.item-4 {
    grid-area: item-4;
}

.item-5 {
    grid-area: item-5;
}

.categories-grid img {
    width: 100%;
    border-radius: .75rem;
}

.categories-grid img:hover {
  filter: brightness(.9)  opacity(.8); 
}