.logo-container {
  transform: translate3d(0, 1.25rem, 0);
}

.logo-container.base {
  width: 100%;
}

.logo-container.scroll-down {
  animation: scroll-down 0.3s ease-out 0s 1 normal forwards;
}

.logo-container.scroll-up {
  animation: scroll-up 0.3s ease-out 0s 1 normal forwards;
}

.logo-container img {
  width: 100%;
}

.nav a {
  font-style: italic;
}

@keyframes scroll-down {
  0% {
    transform: translate3d(0, 0, 0);
    width: 100%;
  }

  100% {
    transform: translate3d(1rem, -3.75rem, 0);
    width: 9rem;
  }
}

@keyframes scroll-up {
  0% {
    transform: translate3d(1rem, -3.75rem, 0);
    width: 9rem;
  }

  100% {
    transform: translate3d(0, 0, 0);
    width: 100%;
  }
}

@media (min-width: 768px) {
  .logo-container.base {
    width: 40%;
  }

  .logo-align {
    margin: 0 auto;
  }

  @keyframes scroll-down {
    0% {
      width: 40%;
    }

    100% {
      transform: translate3d(0px, -2.75rem, 0px);
      width: 9rem;
      top: 0;
      left: 0;
    }
  }

  @keyframes scroll-up {
    0% {
      transform: translate3d(0px, -2.75rem, 0px);
      width: 9rem;
      top: 0;
      left: 0;
    }

    100% {
      transform: translate3d(0px, 0px, 0px);
      width: 40%;
    }
  }
}
