.product-item .img {
  width: 147.5px;
  height: 147.5px;
}

.product-item:hover {
  cursor: pointer;
  filter: brightness(0.9) opacity(0.8);
}

@media (min-width: 768px) {
  .product-item .img {
    width: 161px;
    height: 161px;
  }
}

@media (min-width: 1536px) {
  .product-item .img {
    width: 284px;
    height: 284px;
  }
}

