@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif, system-ui, Avenir,
    Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.link-active {
  color: #ddb34d;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.fade-in {
  animation: fade-in 500ms ease-out forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.left-in {
  animation: left-in 500ms ease-out forwards;
}

@keyframes left-in {
  0% {
    opacity: 0;
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.bot-up {
  animation: bot-up 500ms ease-out forwards;
}

@keyframes bot-up {
  0% {
    opacity: 0;
    transform: translateY(4rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fading-hidden {
  animation: fade-hidden 300ms ease-out forwards;
}

@keyframes fade-hidden {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

.ta-da{
  animation: ta-da 300ms ease-out forwards;
}
  
@keyframes ta-da {
  0% {
      transform: scale(0%);
  }

  20% {
      transform: scale(100%) ;
  }
  40%{
    transform: rotate(-0.05turn);
  }

  70% {
      transform: rotate(0.025turn);
  }

  100% {
      transform: rotate(0turn);
  }

}