.modal {
    position: fixed;
    top: 2.5vh;
    right: 5vw;
    width: 95%;
    max-width: 90vw;
    height: 90vh;
    background-color: white;
    border-radius: 14px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    z-index: 40;

    @media (min-width: 768px) {
        top: auto;
        bottom: 7vh;
        width: 50vw;
        height: 50vh;
    }

    @media (min-width: 1024px) {
        top: auto;
        bottom: 10vh;
        right: 2vw;
        width: 35rem;
        height: 70vh;
    }

    .chat-contents {
        height: 62vh;

        @media (min-width: 768px) {
            height: 34vh;
        }

        @media (min-width: 1024px) {
            height: 50vh;
        }
    }
}